*{
	margin:0;
	padding:0;
}

header{
	/*background:url(../imgs/ironman44.jpg) no-repeat -20px;\
	height:600px;*/
}

.float_right{
    float:right;
}

.logoTop{
	display:block;
	font-family:bg1;
	color:#ffffff;
	font-weight:bold;
	font-size:20px;
	margin:16px 10px;
    cursor:default;
}

.headerTopLine{
	width:100%;

	overflow:hidden;
    position:absolute;
    top:0;
    left:0;
}

.headerTopLine ul{
	list-style-type:none;
}

.headerTopLine ul li{
	display:block;
	margin:8px 10px;
	font-family:bg1;
	font-size:14px;
	color:#ffffff;
	font-weight:bold;
}

.loginReg{
	padding:10px;
	border-radius:10px;
	border:2px solid transparent;
}

.loginReg:hover{
	border:2px solid #ffffff;
	color:rgba(76,103,161,0.7);
	cursor:pointer;
}

.loged span{
    font-size:20px;
}

.lnr-mustache {
  color: #0F52BA;
  font-size:40px;
}

body {
  font-size: 40px;
  font-family: sans-serif;
  color: #555;
}

.headerContainer{
	width:960px;
	margin:0 auto;
	font-family:bg1;
	margin-top:-348px;
    position:relative;
	overflow:hidden;
    height:400px;
}

.headerContainer h1{

	display:block;
	text-align:center;
	color:#ffffff;
	font-size:40px;
}

.headerContainer h2{
	display:block;
	text-align:center;
	color:#ffffff;
	font-size:20px;
	margin-top:50px;
}

.headerContainer span{
	display:block;
	margin:50px auto;
	padding:10px;
	background:rgba(76,103,161,0.7);
	border-radius:5px;	
	font-weight:bold;
	width:150px;
	text-align:center;
	color:#ffffff;
	font-size:20px;	
}

.headerContainer span:hover{
	background:rgba(76,103,161,0.3);;
}

.headerContainer a{
	text-decoration:none;
}

@font-face{
    font-family:bg1;
    src:url(../fonts/BGT65__C.ttf);
}

@font-face{
    font-family:icons;
    src:url(../fonts/Linearicons-Free.ttf);
}

.homeContainer{
	width:960px;
	margin:50px auto;
}

.landlordLogin{
	width:400px;
	margin:40px;
	background:#ffa300;
	border-radius:5px;
	overflow:hidden;
}

.landlordAvatar{
	display:block;
	width:128px;
	height:128px;
	margin:10px auto;
	background:#f29b00;
	border-radius:50%;
}

.landlordAvatar div{
	width:128px;
	height:128px;
	background:url(../imgs/landlord2.png);
}

.landlordLogin h1{
	text-align:center;
	color:#ffffff;
	font-family:bg1;
}

.landlordLogin a{
	text-decoration:none;
}

#eMailLand{
	display:block;
	width:300px;
	height:30px;
	margin:30px auto 5px;
	padding:5px;
	border-radius:5px;
	background:#f29b00;
	border:2px solid #ffffff;
	color:#ffffff;
	font-family:bg1;
	outline:none;
}

#passLand{
	display:block;
	width:300px;
	height:30px;
	margin:5px auto;
	padding:5px;
	border-radius:5px;
	background:#f29b00;
	border:2px solid #ffffff;
	color:#ffffff;
	font-family:bg1;
	outline:none;
}

#submitLand{
	display:block;
	width:100px;
	height:40px;
	padding:5px;
	margin:20px auto;
	background:rgba(242,155,0,0.5);
	border:2px solid #f29b00;
	color:#ffffff;
	font-family:bg1;
	font-size:16px;
	font-weight:bold;
}

#submitLand:hover{
	background:rgba(242,155,0,1);
}

.rememberMe{
	width:300px;
	height:20px;
	display:block;
	margin:20px auto;
	position: relative;
}

#remember{
	width:18px;
	height:18px;
	margin:1px;
	color:#ffffff;
	background:#f29b00;
	border:2px solid #ffffff;
}

.rememberMe label{
	color:#ffffff;
	font-family:bg1;
	font-weight:bold;
	padding:4px 5px;
	font-size:12px;
}

.rememberMe a{
	padding:4px 0;
	height:20px;
	display:block;
	text-decoration:none;
	font-family:bg1;
	color:#4c67a1;
	font-weight:bold;
	float:right;
	text-align:right;
	font-size:12px;
}

.rememberMe a:hover{
	text-decoration:underline;
}

.splitLine{
	width:300px;
	height:20px;
	margin:40px auto;
}

.whiteLine100{
	display:block;
	width:100px;
	height:2px;
	border-top:2px solid #ffffff;
	margin-top:9px;
}

.splitLine span{
	width:100px;
	height:18px;
	text-align:center;
	font-family:bg1;
	color:#ffffff;

}

.fbLogin{
	display:block;
	width:200px;
	height:30px;
	padding:5px;
	background:#4c67a1;
	margin:0 auto 50px;
	border:2px solid #ffffff;
	border-radius:5px;
}

.fbLogin:hover{
	border:2px solid #4c67a1;
	transition: 1s ease;
	-ms-transition:1s ease;
    -webkit-transition: 1s ease;

}

.fbVhod{
	display:block;
	width:170px;
	font-family:bg1;
	color:#ffffff;
	text-align:center;
	margin:7px 0;
	font-weight:bold;
}

.fbLogo{
	display:block;
	width:30px;
	height:30px;
	background:url(../imgs/facebook.png);
}

.fbLogo:hover{
    transform: scale(0.95);
    -ms-transform: scale(0.95);
    -webkit-transform: scale(0.95);
}

.ifNoAccount{
	display:block;
	width:300px;
	height:30px;
	margin:0 auto;
	font-family:bg1;
	color:#ffffff;
	font-weight:bold;
	font-size:12px;
	text-align:center;
}

.regButton{
	width:400px;
	height:50px;
	background:#ffa300;
	border-top:none;
	font-family:bg1;
	color:#ffffff;
	font-weight:bold;
	text-align:center;
	display:block;
}

.chevronRight{
	display:block;
	width:32px;
	height:32px;
	background:url(../imgs/chevron_white_32.png);
}

    .chevronRight:hover {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transition:0.5s ease;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    }

.registriraiSe{
	width:250px;
	line-height:32px;
	display:block;
	text-align:center;
	margin:0 auto;
	padding:9px 0;
	overflow:hidden;
}

.registriraiSe:hover{
    cursor:pointer;
}

.landLordRegform{
	background:#f29b00;
	margin:20px 0;
	border-radius:20px;
}

.landLordRegformPad{
	background:#f29b00;
	overflow:hidden;
    display:none;
}

#firstName{	
	display:block;
	width:300px;
	height:30px;
	margin:30px auto 5px;
	padding:5px;
	border-radius:5px;
	background:#ffa300;
	border:2px solid #ffffff;
	color:#ffffff;
	font-family:bg1;
	outline:none;}
	
#lastName{	display:block;
	width:300px;
	height:30px;
	margin:5px auto;
	padding:5px;
	border-radius:5px;
	background:#ffa300;
	border:2px solid #ffffff;
	color:#ffffff;
	font-family:bg1;
	outline:none;}
	
.phoneNumber{
	display:block;
	width:314px;
	margin:5px auto;
	overflow:hidden;}
	
#phone{
	display:block;
	width:70px;
	height:30px;
	padding:5px;
	margin-right:6px;
	border-radius:5px;
	background:#ffa300;
	border:2px solid #ffffff;
	color:#ffffff;
	font-family:bg1;
	outline:none;}
#phone2{
	display:block;
	width:210px;
	height:30px;
	padding:5px;
	border-radius:5px;
	background:#ffa300;
	border:2px solid #ffffff;
	color:#ffffff;
	font-family:bg1;
	outline:none;
}
#emailReg{	display:block;

	width:300px;
	height:30px;
	margin:5px auto;
	padding:5px;
	border-radius:5px;
	background:#ffa300;
	border:2px solid #ffffff;
	color:#ffffff;
	font-family:bg1;
	outline:none;}
	
#passReg{	display:block;
	width:300px;
	height:30px;
	margin:5px auto;
	padding:5px;
	border-radius:5px;
	background:#ffa300;
	border:2px solid #ffffff;
	color:#ffffff;
	font-family:bg1;
	outline:none;}
	
#passConf{	display:block;
	width:300px;
	height:30px;
	margin:5px auto;
	padding:5px;
	border-radius:5px;
	background:#ffa300;
	border:2px solid #ffffff;
	color:#ffffff;
	font-family:bg1;
	outline:none;}
	
#submitReg{	
	display:block;
	width:150px;
	height:40px;
	padding:5px;
	margin:20px auto 0;
	background:rgba(255,163,0,0.3);
	border:2px solid #ffa300;
	color:#ffffff;
	font-family:bg1;
	font-size:16px;
	font-weight:bold;
	outline:none;
}

#submitReg:hover{
	background:rgba(255,163,0,0.7);
	cursor:pointer;
}	

.renterLogin{
	width:400px;
	margin:40px;
	background:#55b475;
	border-radius:5px;
	overflow:hidden;
}

.renterLogin h1{
	text-align:center;
	color:#ffffff;
	font-family:bg1;
}

.renterLogin a{
	text-decoration:none;
}

.renterAvatar{
	display:block;
	width:128px;
	height:128px;
	margin:10px auto;
	background:#4daf6e;
	border-radius:50%;
}

.renterAvatar div{
	width:128px;
	height:128px;
	background:url(../imgs/renter.png);
}

#eMailRent{
	display:block;
	width:300px;
	height:30px;
	margin:30px auto 5px;
	padding:5px;
	border-radius:5px;
	background:#4daf6e;
	border:2px solid #ffffff;
	color:#ffffff;
	font-family:bg1;
	outline:none;
}

#passRent{
	display:block;
	width:300px;
	height:30px;
	margin:5px auto;
	padding:5px;
	border-radius:5px;
	background:#4daf6e;
	border:2px solid #ffffff;
	color:#ffffff;
	font-family:bg1;
	outline:none;
}

#submitRent{
	display:block;
	width:100px;
	height:40px;
	padding:5px;
	margin:20px auto;
	background:rgba(77,175,110,0.3);
	border:2px solid #4daf6e;
	color:#ffffff;
	font-family:bg1;
	font-size:16px;
	font-weight:bold;
}

#submitRent:hover{
	background:rgba(77,175,110,1);
}

.renterRegButton{
	width:400px;
	height:50px;
	background:#55b475;
	border-top:none;
	font-family:bg1;
	color:#ffffff;
	font-weight:bold;
	text-align:center;
	display:block;
}

.chevronRight{
	display:block;
	width:32px;
	height:32px;
	background:url(../imgs/chevron_white_32.png);
}

.renterRegistriraiSe{
	width:250px;
	line-height:32px;
	display:block;
	text-align:center;
	margin:0 auto;
	padding:9px 0;
	overflow:hidden;
}

.renterRegistriraiSe:hover{
    cursor:pointer;
}

.renterRegform{
	background:#4daf6e;
	margin:20px 0;
}

.renterRegformPad{
	background:#4daf6e;
	overflow:hidden;
    display:none;
}

#renterFirstName{	
	display:block;
	width:300px;
	height:30px;
	margin:30px auto 5px;
	padding:5px;
	border-radius:5px;
	background:#55b475;
	border:2px solid #ffffff;
	color:#ffffff;
	font-family:bg1;
	outline:none;}
	
#renterLastName{	display:block;
	width:300px;
	height:30px;
	margin:5px auto;
	padding:5px;
	border-radius:5px;
	background:#55b475;
	border:2px solid #ffffff;
	color:#ffffff;
	font-family:bg1;
	outline:none;}
	
.phoneNumber{
	display:block;
	width:314px;
	margin:5px auto;
	overflow:hidden;}
	
#renterPhone{
	display:block;
	width:70px;
	height:30px;
	padding:5px;
	margin-right:6px;
	border-radius:5px;
	background:#55b475;
	border:2px solid #ffffff;
	color:#ffffff;
	font-family:bg1;
	outline:none;}
#renterPhone2{
	display:block;
	width:210px;
	height:30px;
	padding:5px;
	border-radius:5px;
	background:#55b475;
	border:2px solid #ffffff;
	color:#ffffff;
	font-family:bg1;
	outline:none;
}
#renterEmailReg{	display:block;

	width:300px;
	height:30px;
	margin:5px auto;
	padding:5px;
	border-radius:5px;
	background:#55b475;
	border:2px solid #ffffff;
	color:#ffffff;
	font-family:bg1;
	outline:none;}
	
#renterPassReg{	display:block;
	width:300px;
	height:30px;
	margin:5px auto;
	padding:5px;
	border-radius:5px;
	background:#55b475;
	border:2px solid #ffffff;
	color:#ffffff;
	font-family:bg1;
	outline:none;}
	
#renterPassConf{	display:block;
	width:300px;
	height:30px;
	margin:5px auto;
	padding:5px;
	border-radius:5px;
	background:#55b475;
	border:2px solid #ffffff;
	color:#ffffff;
	font-family:bg1;
	outline:none;}
	
#renterSubmitReg{	
	display:block;
	width:150px;
	height:40px;
	padding:5px;
	margin:20px auto 0;
	background:rgba(77,175,110,0.3);
	border:2px solid #55b475;
	color:#ffffff;
	font-family:bg1;
	font-size:16px;
	font-weight:bold;
	outline:none;
}

#renterSubmitReg:hover{
	background:rgba(85,180,117,0.7);
	cursor:pointer;
}

.fLeft{
	float:left;
}

.fRight{
	float:right;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
header{
	width:1199px;
}
.headerContainer{
	width:1199px;
}
.headerContainer h1{
	width:1100px;
}
.headerContainer h2{
	width:1050px;
}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
header{
	width:991px;
}
.headerContainer{
	width:991px;
}
.headerContainer h1{
	width:800px;
}
.headerContainer h2{
	width:750px;
}
.homeContainer{
	width:768px;
	margin:0 auto;
}
.landlordLogin{
	width:384px;
	margin:0;
}
.renterLogin{
	width:384px;
	margin:0;
}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
header{
	width:767px;
}
.headerContainer{
	width:667px;
}
.headerContainer h1{
	width:667px;
}
.headerContainer h2{
	width:667px;
}
.homeContainer{
	width:767px;
}
.landlordLogin{
	width:767px;
	margin:0;
}
.renterLogin{
	width:767px;
	margin:20px 0;
}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
header{
	width:480px;
}
.headerContainer{
	width:480px;
}
.headerContainer h1{
	width:380px;
	margin:0 auto;
}
.headerContainer h2{
	width:380px;
	margin:0 auto;
}

.homeContainer{
	width:480px;
}
.landlordLogin{
	width:480px;
	margin:0;
}
.renterLogin{
	width:480px;
	margin:20px 0;
}
}

#background {
    width: 100%; 
    height: 600px;
    position:relative;
    left: 0px; 
    top: 0px; 
    z-index: 0;
}

.stretch {
    width:100%;
    height:100%;
}

#how_it_works{
    background:white;
    height:100%;
    width:100%;
    display:none;
    background-color:rgba(76,103,161,0.7);
}
.close_how_it_works
{
    margin:20px;
    border:2px solid white;
    border-radius:50px 50px;
    padding:10px 15px;
    color:white;
}