*{
	margin:0;
	padding:0;
}

.fLeft{
	float:left;
}

.fRight{
	float:right;
}

::-webkit-datetime-edit { padding: 1em; }
::-webkit-datetime-edit-fields-wrapper { background: #ffffff; }
::-webkit-datetime-edit-text { color: #000000; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: #000000; }
::-webkit-datetime-edit-day-field { color: #000000; }
::-webkit-datetime-edit-year-field { color: #000000; }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: #ffffff; }

@font-face{
    font-family:bg1;
    src:url(../fonts/BGT65__C.ttf);
}

@font-face{
    font-family:icons;
    src:url(../fonts/Linearicons-Free.ttf);
}

@font-face{
    font-family:lodge;
    src:url(../fonts/lodge-medium.otf);
}

body{
	background:#55b475;
}

header{
    width:100%;
    height:60px;
    border-bottom:1px solid #ffffff;
    position:relative;
}

.exitButton {
    display:block;
    position:absolute;
    top:10px;
    right:10px;
    padding:5px;
    cursor:pointer;
}

.exitButton h2 {
    font-size:14px;
    font-family:bg1;
    color:#ffffff;
    padding:3px 0;
}

.lnr-exit{
  color: #ffffff;
  font-size: 20px;
  margin-right:10px;
  display:block;
  width:20px;
  height:20px;
}

nav{
    width:300px;
}

.logo {
    background:url(../imgs/lodgeAround.png);
    display:block;
    width:175px;
    height:47px;
    margin:10px auto;
    cursor:pointer;
}

.renterProfile{
	width:300px;
	background:#55b475;
	overflow:hidden;
}   

.nav_left{
    position:absolute;
    top:71px;
    left: 0px;
    width:300px;
}

.profilePad{
	width:128px;
	height:128px;
	display:block;
	border-radius:50%;
	background:#4daf6e;
	margin:10px auto;
}

.renterProfile span{
	width:128px;
	height:128px;
	display:block;
	background:url(../imgs/renter.png);
}

.renterProfile h1{
	font-family:bg1;
	display:block;
	text-align:center;
	margin:10px auto;
	color:#ffffff;
}

.renterProfile button{
	display:block;
	background:none;
	border:none;
	margin:10px auto;
	color:#3d4542;
	font-weight:bold;
	font-size:10px;
	outline:none;
}

.renterProfile button:hover{
	cursor:pointer;
}

.renterProfile a{
	text-decoration:none;
}

.profileMenu{
	width:300px;
	list-style-type:none;
	overflow:hidden;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.lnr-user {
  color: #ffffff;
  font-size: 20px;
  margin-right:10px;
  display:block;
  width:20px;
  height:20px;
}

.lnr-inbox{
  color: #ffffff;
  font-size: 20px;
  margin-right:10px;
  display:block;
  width:20px;
  height:20px;
}

.lnr-magnifier{
  color: #ffffff;
  font-size: 20px;
  margin-right:10px;
  display:block;
  width:20px;
  height:20px;
}

.lnr-heart{
  color: #ffffff;
  font-size: 20px;
  margin-right:10px;
  display:block;
  width:20px;
  height:20px;
}

.lnr-book{
  color: #ffffff;
  font-size: 20px;
  margin-right:10px;
  display:block;
  width:20px;
  height:20px;
}

.profileMenu li{
    height:20px;
	margin:0 auto;
	padding:25px 0;
	overflow:hidden;
}

.profileMenu li:hover{
	background:#4daf6e;
	cursor:pointer;
	transition:0.5s ease;
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
}

.liCont{
	width:200px;
	margin:0 auto;
}

.profileMenu li h2{
	font-family:bg1;
	font-size:16px;
	padding: 2px 0;
	color:#ffffff;
}

.siteWrapper{
    position:absolute;
    left:300px;
    top:71px;
    right:0px;
    bottom:0px;
	background:#ffffff;
	font-family:bg1;
}	

.siteWrapper h1{
	font-size:26px;
	padding:22px 5px;
    color:#ffffff;
}

.myProfile{
    width:960px;
    color:#000000;
    position:relative;
    background:url(../imgs/color_houses.png);
    overflow:hidden;
}

.header1{
  	background:#535353;
    width:960px;
    overflow:hidden;
}

.header1 span {
    display:block;
    background:none;
    color:rgba(255,255,255,1);
    padding:5px;
    border:2px solid rgba(255,255,255,1);
    border-radius:5px;
    margin:18px 10px 18px 0;
    cursor:pointer;
}

.header1:hover span{
    color:rgba(255,255,255,0.7);

}

.header1:hover i {
    color:rgba(255,255,255,0.7);
}

.header1 h2 {
    font-size:12px;
    font-family:bg1;
    padding:4px 0;
}

.lnr-cog{
  color: rgba(255,255,255,1);
  font-size: 20px;
  margin-right:5px;
}

.nameMail{
    margin:50px 0;
}

.mainRow {
    margin:0 0 50px 20px;
    position:relative;
    overflow:hidden;
}

.dateofBirth {
    margin:0 50px 20px 0;
}

.profilePic{
    position:absolute;
    top:20px;
    right:40px;
    width:150px;
}

.profilePic span{
    background:url(../imgs/prof128.jpg) no-repeat;
    width:128px;
    height:128px;
    display:block;
    border-radius:50%;
    border:2px solid #cccccc;
    margin:0 auto;
}

.profilePic button{
    display:block;
    width:110px;
    height:28px;
    margin:10px auto;
    color:rgba(76,103,161,1);
    background:#ffffff;
    border:2px solid rgba(76,103,161,1);
    border-radius:5px;
    padding:4px 5px;
    font-family:bg1;
    font-weight:bold;
    font-size:12px;
    outline:none;
}

.profilePic button:hover {
    cursor:pointer;
    border:2px solid rgba(76,103,161,0.7);
    color:rgba(76,103,161,0.7);
}

.lnr-upload {
  color: rgba(76,103,161,1);
  font-size: 12px;
  margin-right:5px;
  margin-top:4px;
}

.aboutMe {
    margin:50px 0 50px 20px; 
    overflow:hidden;  
}

.pets {
    margin:50px 0 50px 20px;    
}

.messages{
	width:960px;
}

.lodgeSearch{
	width:960px;
}

.favLodges{
	width:960px;	
}

.Help{
	width:960px;
}