<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/rentner_profile.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/layout.css">
    <title>LodgeAround</title>
    <link rel="icon" type="image/png" href="~/imgs/gabdesign2.png">
</head>
<body>
    <div id="how_it_works">
        <div class="float_right close_how_it_works lnr-cross" onclick="closeHowItWorks()"></div>
    </div>

    @RenderBody()

    <!--================================FOOTER=====================================-->
    <footer></footer>
</body>
</html>

