<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/Content/css/layout.css">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <title>LodgeAround</title>
    <link rel="icon" type="image/png" href="imgs/gabdesign2.png">
    <script src="/scripts/layout.js"></script>
    <script src="/scripts/jquery-2.2.0.js"></script>
</head>
<body>
    <div id="how_it_works">
        <div class="float_right close_how_it_works lnr-cross" onclick="closeHowItWorks()"></div>
    </div>

    <!--================================HEADER=====================================-->
    <header>

        <div>
            <div id="background">
                <img src="/Content/imgs/ironman44.jpg" class="stretch" alt="" />
                <div class="headerTopLine">
                    <span class="logoTop fLeft">LodgeAround</span>
                    <ul class="fRight">
                        <a href="#loginReg"><li class="fLeft loginReg">ВХОД</li></a>
                        <a href="#loginReg"><li class="fLeft loginReg">РЕГИСТРАЦИЯ</li></a>
                    </ul>
                    <ul class="fRight loged">
                        <li class="fLeft messages"><h1 class="fLeft">СЪОБЩЕНИЯ</h1><span class="lnr-bubble fLeft"></span></li>
                        <li class="fLeft logedProf"><h1 class="fLeft">ГЕОРГИ</h1><div class="fLeft"></div></li>
                        <li class="fLeft logout"><span class="lnr-power-switch fLeft"></span></li>
                    </ul>
                </div>
            </div>

            <div class="headerContainer">

                <h1>ПО-ДОБРИЯТ НАЧИН ЗА НАЕМАНЕ</h1>
                <h2>Социалната мрежа на София за отдаване и наемане на имоти</h2>
                <a onclick="showHowItWorks()"><span>как работи</span></a>
            </div>
        </div>
    </header>

    @RenderBody()
  
    <!--================================FOOTER=====================================-->
    <footer></footer>
</body>
</html>
