<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/Content/css/layout.css">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <title>LodgeAround</title>
    <link rel="icon" type="image/png" href="imgs/gabdesign2.png">
    <script src="/scripts/layout.js"></script>
    <script src="/scripts/jquery-2.2.0.js"></script>
</head>
<body>
    <div id="how_it_works">
        <div class="float_right close_how_it_works lnr-cross" onclick="closeHowItWorks()"></div>
    </div>

    <!--================================HEADER=====================================-->
    <header>

        <div>
            @Html.Partial("_authPartialView")
            <div class="headerContainer">

                <h1>ПО-ДОБРИЯТ НАЧИН ЗА НАЕМАНЕ</h1>
                <h2>Социалната мрежа на София за отдаване и наемане на имоти</h2>
                <a onclick="showHowItWorks()"><span>как работи</span></a>
            </div>
        </div>
    </header>

    @RenderBody()
  
    <!--================================FOOTER=====================================-->
    <footer></footer>
</body>
</html>
